@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&family=Roboto&display=swap");
@import "./normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER */

header {
  margin-top: 63px;
  font-weight: 400;
  height: 79px;
  font-size: 80px;
}

a {
  text-decoration: none;
}

.logo-ref:hover {
  text-decoration: underline;
  text-decoration-color: rgba(75, 202, 255, 1);
}

.logo-ref {
  color: rgba(0, 0, 0, 1);
}

/* NAVBAR */

.nav {
  background-color: #35444f;
  text-align: center;
  width: 1283px;
  height: 72px;
}
.nav-block {
  display: inline-block;
  padding: 25px 45px;
}
.nav-block-content {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.nav-block:hover {
  background-color: #222f3a;
  transition: 0.2s;
  border: 1px solid white;
  height: 72px;
}

/* LEFT_MENU */

.left-menu {
  margin-top: 48px;
  margin-right: 52px;
  float: left;
  display: flex;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
}

.links-left {
  padding-left: 44px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 52px;
}

.link-left-content {
  display: flex;
  font-size: 27px;
  font-weight: 400px;
  color: #485863;
}

.link-left-content:hover {
  background-color: #dbdbdb;
  color: #000000;
  padding-left: 38px;
  transition: 0.5s;
}


/* Main-CONTENT */

.image-box {
  width: 884px;
  height: 529px;
  margin-top: 63px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  border: black solid 1px;
}

.icon {
  width: 320px;
  height: 381px;
}

.icon:hover {
  transform: scale(1.06);
  transition: 0.3s ease-in-out;
}

.text {
  margin: 0 auto;
  margin-top: 119px;
  margin-left: 400px;
  display: flex;
  width: 885px;
  height: 120px;
  font-size: 18px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0 auto;
  display: flex;
}
/* 
FOOTER */

.footer-menu {
  display: flex;
  margin-top: 120px;
  margin-left: 98px;
  margin-bottom: 30px;
  display: flex;
  width: 1280px;
  height: 69px;
  left: 0px;
  top: 117px;
  justify-content: space-around;
  background-color: rgba(99, 105, 110, 0.48);
}

.links-bottom {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 80px;
}

.link-bottom {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
  color: black;
}

.link-bottom:hover {
  color: rgba(49, 129, 166, 1);
  text-decoration: underline;
}
